In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from numpy import nan as NA
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt; plt.rcdefaults()
import seaborn as sns
import os
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.chdir("D:\Data Science\Capillary dataset")
data = pd.read_csv("product_attributes.csv")
data.head()
data2 = pd.read_csv("train.csv", parse_dates = [3], infer_datetime_format = True, dayfirst = True)
data2.head()
data2.dtypes
data2['OrderDate'][2].month
data2.head()
data2['OrderMonth'] = data2.apply(lambda x: x['OrderDate'].month, axis = 1 )

In [3]:
#Finding no. of unique products

data2['productid'].nunique()

3026

In [4]:
# Top 10 products sold

Quant_month = data2.groupby(['productid'])['Quantity'].agg(sum)  # groupby creates a new DF called "Quant_month" grouping product id and sum of its quantities
Quant_month.head(10)
Quant_month.sort_values(ascending = False, inplace = True)
print("Top 10 products are: ", list(Quant_month.index[0:10]))       # Quant_month.productid.head(10) is written as Quant_month.index since productid is the index

Top 10 products are:  [12658512, 12407154, 12407730, 12371378, 11659624, 12407400, 12407398, 12406904, 12407742, 12406886]

In [5]:
# Month wise topmost products

Monthly_topprod = data2.groupby(['OrderMonth', 'productid'])['Quantity'].agg(sum).reset_index()  # group by creates a new DF called "Monthly_topprod"
Monthly_topprod.tail(20)
# Now we have found quantity of every month sperately, now group month(eg. October as a whole to search for topmost product)
Quant_wholemonth = data2.groupby(['OrderMonth'])['Quantity', 'productid'].agg(max).reset_index()
Quant_wholemonth

   OrderMonth  Quantity  productid
0           4        12   12988642
1           5         5   13033180
2           6         5   13076266
3           7         8   13072176
4           8         5   14110868
5           9         5   14122832
6          10         5   14129477

In [6]:
# Monthwise highest product occurences

Higest_prodoccurence = data2.groupby(['productid','OrderMonth'])['OrderDate'].count().reset_index()  # count() counts index(if nothing is mentioned), ordrdate is counting the no of times the product has been purchased
Higest_prodoccurence.rename(columns = {"OrderDate" :"Count_of_occurences"}, inplace = True)
Higest_prodoccurence
Monthwise_highestocc = Higest_prodoccurence.groupby(['OrderMonth'])['Count_of_occurences', 'productid'].agg(max).reset_index()
Monthwise_highestocc

   OrderMonth  Count_of_occurences  productid
0           4                   69   12988642
1           5                  269   13033180
2           6                  260   13076266
3           7                  290   13072176
4           8                  210   14110868
5           9                  110   14122832
6          10                  126   14129477